.container {

    display: grid;
    grid-template-columns: 160px 1fr;
    grid-template-rows: 80px 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas: "header header"
                         "navbar content";

    width: 1000px;
    margin: auto;
}

.content_page {
    grid-area: content;
}