.container {
    background-color: rgb(0, 0, 0);
    height: 100px;
}
.App {
    width: 100px;
    margin: auto;
}

.App ul li {
    list-style-type: georgian;
    font-size: 24px;
    color: rgb(210, 91, 91);
    letter-spacing: 2px;
}