.container {

    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 80px 500px;
    grid-template-areas: "header header"
                         "navbar profile";

    width: 1200px;
    margin: auto;

}