.container {
    height: 500px;
    background: url(img/bg_d.jpg) no-repeat;
    background-size: cover;
}

.dialogs {
    width: 500px;
    background-color: rgba(240, 248, 255, 0.29);
    color: #ffffff;
    display: grid;
    grid-template-columns: 200px 300px;
    grid-template-rows: 250px;
    font-size: 15px;
}

.dialogs_items .dialog {
    margin-bottom: 10px;
}
.dialogs_items .active {
    color: #b79b0f;
}

.messages .message {
    margin-bottom: 10px;
}
.messages .active {
    color: #b79b0f;
}